@media (max-width: 1120px) {
  .page-title img {
    max-width: 190px;
  }
  .characters-selection {
    flex-direction: column-reverse;
    font-size: 90%;
  }

  .characters-selection .characters {
    margin-block: 0.5rem;
  }

  .characters-selection .characters .characters-title,
  .selected-characters .character-name {
    font-size: 90%;
    letter-spacing: normal;
  }

  .characters-selection .characters-list .character img {
    width: 5rem;
  }

  .selected-characters {
    width: 85%;
  }

  .selected-characters .fullbody-character {
    margin-block-end: 1rem;
  }

  .selected-characters .fullbody-character img {
    width: 80px;
    height: 80px;
  }

  .selected-characters .character-info {
    background-color: var(--dark);
  }
}
