@media (max-width: 1120px) {
  .page-title img {
    max-width: 15rem;
  }
  .characters-selection {
    flex-direction: column-reverse;
    font-size: 90%;
    letter-spacing: 0;
  }

  .characters-selection .characters {
    margin-block: 0.5rem;
    text-align: center;
  }

  .characters-selection .characters .characters-title,
  .selected-characters .character-name {
    font-size: 90%;
    letter-spacing: normal;
  }

  .characters-selection .characters-list .character img {
    width: 6rem;
  }

  .selected-characters {
    width: 60%;
  }

  .selected-characters .fullbody-character {
    margin-block-end: 1rem;
  }

  .selected-characters .character-info {
    max-width: 30rem;
    background-color: var(--dark);
  }
}
