@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@import url("./responsive.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1d935d;
  --secondary: #127b95;
  --shadow: #959a9d;
  --dark: #0e0e0e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  background: var(--dark) url("/src/images/background.jpg") no-repeat top;
  background-size: cover;
  backdrop-filter: blur(0.2rem);
}

.page-title {
  display: inherit;
  justify-content: center;
  max-height: 10rem;
  width: 100%;
}

.page-title img {
  max-width: 20rem;
}

.characters-selection,
.characters-selection .characters,
.selected-characters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.characters-selection {
  padding: 0 4rem;
  gap: 1rem;
  min-height: calc(100vh - 160px);
}

.characters-selection .characters {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
}

.characters-selection .characters .characters-title {
  text-align: center;
  border-block-end: 0.1em solid var(--secondary);
  text-shadow: 0.2rem 0.2rem 0.5rem var(--shadow);
  background-color: var(--dark);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.characters-selection .characters .characters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

/* .characters-selection .characters-list .character.selected {
  box-shadow: 0 0 1rem var(--primary);
} */

.characters-selection .characters-list .character {
  background-color: var(--primary);
  border-radius: 0.5rem;
  filter: brightness(0.5);
  transition: all 0.4s;
}

.characters-selection .characters-list .character:hover {
  box-shadow: 0 0 1rem var(--primary);
  filter: none;
  cursor: pointer;
}

.characters-selection .characters-list .character img {
  border-radius: 0.5rem;
}

.selected-characters {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.selected-characters .fullbody-character {
  height: auto;
  width: 15rem;
}

.selected-characters .character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  color: var(--secondary);
}

.selected-characters .character-name {
  margin-block: 1rem;
  border-block-end: 0.1em solid var(--primary);
  width: 80%;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
