@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@import url("./responsive.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(152.54, 67.05%, 34.51%);
  --secondary: hsl(191.91, 78.44%, 32.75%);
  --shadow: hsl(21.43, 8.14%, 90%);
  --dark: hsl(0, 0%, 5.49%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  background: var(--dark) url("/src/images/background.jpg") no-repeat top;
  background-size: cover;
  backdrop-filter: blur(0.2rem);
}

.page-title {
  display: inherit;
  justify-content: center;
  max-height: 10rem;
  width: 100%;
}

.page-title img {
  max-width: 20rem;
}

.characters-selection,
.characters-selection .characters,
.selected-characters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.characters-selection {
  padding: 0 4rem;
  gap: 1rem;
  min-height: calc(100vh - 13rem);
  margin-block-end: 3rem;
}

.characters-selection .characters {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
}

.characters-selection .characters .characters-title {
  text-align: center;
  border-block-end: 0.1em solid var(--secondary);
  background-color: var(--dark);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.5rem;
}

.characters-selection .characters .characters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.characters-selection .characters-list .character {
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.characters-selection .characters-list .character.selected {
  box-shadow: 0 0.2rem 1rem var(--primary);
  transition: all 0.5s;
}

.characters-selection .characters-list .character:not(.selected) {
  filter: brightness(0.5);
}

.characters-selection .characters-list .character img {
  border-radius: 0.5rem;
}

.selected-characters {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.selected-characters .fullbody-character {
  height: 25rem;
  width: 25rem;
  mix-blend-mode: multiply;
}

.selected-characters .character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
  padding: 0 0.5rem 0.5rem;
}

.selected-characters .character-name {
  margin-block: 1rem;
  border-block-end: 0.1em solid var(--secondary);
  width: 80%;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.selected-characters .character-description {
  color: var(--secondary);
  text-align: justify;
}
